.income-div {
    border-radius: 5px;
    margin-left: 5px;
    width: 100%;
    background-color: black;
    color: aliceblue;
    margin-bottom: 25px;
    text-align: center;
}

.pnl-input {
    display: inline-block;
    width:100%;
    padding-left: 2px;
    background-color: darkgray;
    text-align: center;
    font-weight: 800;
}

.pnl-form {
    display: inline-block;
    
}

/* <div className='income-div'>

            <form onChange={projectionTerms} className='pnl-form'>

            <label className='pnl-label'> Cost Of Capital $</label>
                <input
                    className='pnl-input'
                    type='number'
                    min={0} max={100} step={.25}
                    onChange={(e) => setCostOfCapital(parseFloat(e.target.value / 100))}
            />

            <label className='pnl-label'>Annual Appraisal %</label>
                <input
                    className='pnl-input'
                    type='number'
                min={0} max={20} step={0.25}
                onChange={(e) => setAppreciation(parseFloat(e.target.value / 100))}
            />


            <label className='pnl-label'>Exit Point %</label>
                <input
                    className='pnl-input'
                    type='number'
                min={0} 
                    onChange={(e) => setExitPoint(parseInt(e.target.value))}

            />

            </form>

        </div> */
