table, th, tr, td {
table-layout: auto;
 width: 100%;
 border: 3px solid black;
 text-align: center;
 border-right: 10cm;
  
  }

.table-cell {
    width: 100px;
    height: 10vh;
    vertical-align: bottom;
    white-space: nowrap;
    text-align: center;
    background-color:rgb(223, 215, 215);
    text-size-adjust: auto;
}

.table-div {
    overflow-x: auto;
}
