.card-text {
    font-weight: 700;
    background-color: black;
    color: white;
    height: 100px;
}

.card {
    display: flex;
    margin-bottom: 30px;

}
.card-img {
    height: 250px;
}


.tuesday  div {
    background-color: ;
}



                /* <div >
                        <p className='tuesday'>
                            <span className='thursday'></span>
                        </p>
                    </div> */