.card-text {
    font-weight: 700;
    background-color: black;
    color: white;
    height: 100px;
}

.card {
    display: flex;
    margin-bottom: 30px;

}
.card-img {
    height: 250px;
}





                